body{

    background-image: url("../images/background.jpg");
    background-size: cover;
}

img{

    width: 100%;
}

.border{

    background: linear-gradient(

    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)

    );

}